.header {
  display: flex;
  margin: 10px 15px;
  padding-top: 10px;
  .profile-img{
    margin-left: 2%;
    .image{
      border-radius: 50% ;
    }
  }
  .main-detail{
    margin-left: 4%;
    padding-top: 10px;
    .name{
      font-size: 75px;
    }
  }
}
