.icon{
  background: url('../../../assets/social-media.svg');
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 68px;
}
.github{
  background-image: url('../../../assets/github.png');
  background-size: 19px;
}
.website {
  background-image: url('../../../assets/website.png');
  background-size: 19px;
}
.gmail {
  background-position: -1px -43px;
}
.linkedin {
  background-position: -24px -43px;
}
.phone {
  background-position: -1px;
}
.content {
  padding: 0px;
}
.display-flex {
  padding: 5px;
}
// toggle css
.toggle{
  width: 46px;
  border: 1px solid;
  border-radius:11px ;
  .circle {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 2px;
    left: 2px;
    border: 1px solid;
    border-radius: 50px;
  }
}
  