.wholeContainer{
  display: flex;
  flex-direction: column-reverse;
  .heading{
    margin-bottom: 5px;
  }
  .container > div {
    margin-bottom: 10px;
  }
  .container:focus-within {
    box-shadow: 3px 4px 10px 12px rgb(156, 152, 151);
    border-radius: 15px;
    padding: 9px;
  }
  .curd{
    float: right;
    cursor: pointer;
  }
}