<div class="display-flex cursor-pointer dis-relative" > 
  <app-pop-up-content [comp]="comp" [content] = 'content'></app-pop-up-content>
  <div class="heading" (click)="upload.click()" >  Badges  </div>
  <input hidden type="file" #upload (change)="fileChangeEvent($event)"/>
  <div class="image upload_Icon" (click)="upload.click()" style="background-image: url('../../assets/upload.png');"></div>
</div>

<div id="certificate" class="wholeContainer">
  <div class="imageInput">
    

    <div class="display-flex">
      <div *ngFor="let img of certificateIcon">
        <div class="image certi_icon" [style.background-image]= "'url('+img+')'"></div>
      </div>
    </div>
    </div>

</div>