@import '../../variablesForCSS.less';

.menuBarContainer{
  .label{
    position: fixed;
    right: 0px;
    padding: 10px;
    border-radius: 25%;
    background-color: @btnColor;
    transform: rotate(90deg);
  }
}