<div class="side_container dis-relative" >
  <div class="heading Topic" appHoverDirective>Personal details
  <app-pop-up-content class="tooltip display-hidden" [comp]="comp" [contact] = 'content'></app-pop-up-content>
  </div>

  <!-- <div class="row">
    <div class="heading highlights">Nationality </div>
    <input type="text" class="content" [(ngModel)]='nationality'>
  </div> -->
  <div class="row">
    <div class="heading highlights">Contact</div>
    <app-contact-list></app-contact-list>
  </div>
</div>